{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static',filename='assets/img/home-bg.jpg')}}  ')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1>ADMIN PANEL</h1>
                            <span class="subheading">Create and Manage posts here</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container">
            <div class="row">
                 <div class="col-lg-8 col-md-10 mx-auto">

          <div class="row">
        </div>
        <td><a href = "/dash"><button class="btn btn-primary">DASHBOARD</button></a></td> 
        <hr></hr>

        <h1>ADD/EDIT POST</h1>  


        <form name="sentMessage" id="contactForm" action = "/edit/{{sno}}" method="post" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Title" id="title" name='title' required data-validation-required-message="Please enter your name."value="{{post.title}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Tagline</label>
                <input type="text" class="form-control" placeholder="Tagline" id="tline" name="tline" required data-validation-required-message="Please enter your email address."value="{{post.tagline}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Slug</label>
                <input type="tel" class="form-control" placeholder="Slug" name="slug" id="slug" required data-validation-required-message="Slug"value="{{post.slug}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Content</label>
                <textarea rows="10" class="form-control" placeholder="Content" name = "content" id="content" required data-validation-required-message="Content" value="post.content">{{post.content}}</textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
        
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Post By</label>
                <input type="tel" class="form-control" placeholder="Post by" name="postby" id="postby" required data-validation-required-message="postby"value="{{post.postby}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
           
             <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Image File</label>
                <input rows="5" class="form-control" placeholder="Image Name" name = "img_file" id="img_file" required data-validation-required-message="Image Path"value="{{post.img_file}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">SUBMIT</button>
            </div>
          </form>


  
                </div>
            </div>
        </div>
        <hr />

        {% endblock %}
        