<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
  

       <title>sign in</title>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    
    <!-- Custom styles for this template -->
   
  </head>
  <body class="text-center">
    
<main class="form-signin">
	<link href="{{url_for('static',filename='signs.css')}}" rel="stylesheet">
  <form action="/dash" method="post">
    <h1 class="h3 mb-3 fw-normal">ADMIN PANEL</h1>
    <label for="floatingInput">UserName</label>
    <div class="form-floating">	
      <input type="text" class="form-control" name = "uname" id="uname">
    </div>
     <label for="floatingPassword">Password</label>
    <div class="form-floating">
      <input type="password" class="form-control" name = "pass" id="pass" placeholder="Password">
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy;{{params['blog_name']}} 2017–2021</p>
  </form>





</main>
   </body>
</html>